.center {
    text-align: center !important;
}

.contentText {
    text-align: center;
    letter-spacing: -0.02rem;
    color: #313030;
    line-height: 1.5;
    font-size: 1.2rem;
    margin: 20px 1px;
    font-weight: 450;
}

.link {
    color: #739bf0;
    text-decoration: underline;
    font-weight: 360;
}